/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.auth-container, .upload-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  
  input, button {
    margin: 5px 0;
  }
  
  .mat-snack-bar-container {
    font-size: 16px;
    font-weight: bold;
  }

  
  // .mat-mdc-snack-bar-container .mdc-snackbar__surface {
  //   background-color: lightgray !important;
  // }

/* Success Notification */
.mat-mdc-snack-bar-container.success-snackbar .mat-mdc-snackbar-surface {
  border: 2px solid #4caf50; /* Green Border */
  color: #4caf50 !important; /* Green Text */
  font-weight: bold;
  border-radius: 4px; /* Optional for rounded corners */
}

/* Failure Notification */
.mat-mdc-snack-bar-container.error-snackbar .mat-mdc-snackbar-surface {
  border: 2px solid #f44336; /* Red Border */
  color: #f44336 !important; /* Red Text */
  font-weight: bold;
  border-radius: 4px; /* Optional for rounded corners */
}